* {
    box-sizing: border-box;
}

body {
  background-color: rebeccapurple;
}

.timer {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 200px;
  outline-style: double;
  outline-color: navajowhite;
}

.label{
  color: navajowhite;
  font-size: 22px;
}

.value {
  color: navajowhite;
  border-radius: 4px;
  font-size: 80px;
}

.new-year{
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: center;
  width: max-content;
  font-size: 32px;
  color: navajowhite;
  margin: 0;
  margin-top: 4px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  outline-style: double;
}

.year{
  color: cyan;
  padding-right: 5px;
  padding-left: 5px;
}

.text{
  display: flex;
  align-items: center;
  flex-direction: column;
}